akpshhfactory/PartialArmTemplates/ArmTemplate_10_15_2019_9_57_36.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "akpshhfactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Clone merged Parquet to DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_ADLSStruct_to_DW",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ParquetStore",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDW_Sink",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"RawJSONStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Raw\\20190619"
					},
					"TargetADLSStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Struct\\20190619\\Text2"
					}
				},
				"variables": {
					"boblpath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ParquetStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy JSON to Parquet - merged')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_JSON_to_ADLSStruct",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['GameActionId']"
										},
										"sink": {
											"name": "GameActionId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['streetname']"
										},
										"sink": {
											"name": "streetname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['action']"
										},
										"sink": {
											"name": "action",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['actor']"
										},
										"sink": {
											"name": "actor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['amount']"
										},
										"sink": {
											"name": "amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['timestamp']"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['sitename']"
										},
										"sink": {
											"name": "sitename",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['tablename']"
										},
										"sink": {
											"name": "tablename",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['limits']"
										},
										"sink": {
											"name": "limits",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['buttonseat']"
										},
										"sink": {
											"name": "butttonseat",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['actions']"
							}
						},
						"inputs": [
							{
								"referenceName": "JSONStore",
								"type": "DatasetReference",
								"parameters": {
									"jsonPath": "@pipeline().parameters.RawJSONStore"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetStore",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"RawJSONStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Raw\\20190619"
					},
					"TargetADLSStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Struct\\20190619\\Parquet"
					}
				},
				"variables": {
					"boblpath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ParquetStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy JSON to Parquet - split')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_JSON_to_ADLSStruct",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['GameActionId']"
										},
										"sink": {
											"name": "GameActionId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['streetname']"
										},
										"sink": {
											"name": "streetname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['action']"
										},
										"sink": {
											"name": "action",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['actor']"
										},
										"sink": {
											"name": "actor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['amount']"
										},
										"sink": {
											"name": "amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['timestamp']"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['sitename']"
										},
										"sink": {
											"name": "sitename",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['tablename']"
										},
										"sink": {
											"name": "tablename",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['limits']"
										},
										"sink": {
											"name": "limits",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['buttonseat']"
										},
										"sink": {
											"name": "butttonseat",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['actions']"
							}
						},
						"inputs": [
							{
								"referenceName": "JSONStore",
								"type": "DatasetReference",
								"parameters": {
									"jsonPath": "@pipeline().parameters.RawJSONStore"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetStore",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"RawJSONStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Raw\\20190619"
					},
					"TargetADLSStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Struct\\20190619\\Parquet2"
					}
				},
				"variables": {
					"boblpath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ParquetStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy split Parquet to DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_ADLSStruct_to_DW",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"preCopyScript": "  drop table stg.hh\n\n    CREATE TABLE [stg].[HH] (\n        id varchar(20),\n    [timestamp] varchar(50),\n    sitename varchar(50),\n    tablename varchar(100),\n    limits varchar(50),\n    buttonseat bigint,\n    gameactionid bigint,\n    streetname varchar(100),\n    action varchar(20),\n    actor varchar(100),\n    amount float\n    )\nWITH  \n  (   \n   DISTRIBUTION = ROUND_ROBIN\n  )  ",
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "sitename",
											"type": "String"
										},
										"sink": {
											"name": "sitename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tablename",
											"type": "String"
										},
										"sink": {
											"name": "tablename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "limits",
											"type": "String"
										},
										"sink": {
											"name": "limits",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "butttonseat",
											"type": "Int64"
										},
										"sink": {
											"name": "buttonseat",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "GameActionId",
											"type": "Int32"
										},
										"sink": {
											"name": "gameactionid",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "streetname",
											"type": "String"
										},
										"sink": {
											"name": "streetname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "action",
											"type": "String"
										},
										"sink": {
											"name": "action",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "actor",
											"type": "String"
										},
										"sink": {
											"name": "actor",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "amount",
											"type": "Decimal"
										},
										"sink": {
											"name": "amount",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ParquetStore",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDW_Sink",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"RawJSONStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Raw\\20190619"
					},
					"TargetADLSStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Struct\\20190619\\Text2"
					}
				},
				"variables": {
					"boblpath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ParquetStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataFromLocalToADLS-copyonly')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Local_to_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@{pipeline().parameters.localdir}",
										"type": "Expression"
									},
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "LocalSrc",
								"type": "DatasetReference",
								"parameters": {
									"localPath": "@pipeline().parameters.localdir"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "JSONStore",
								"type": "DatasetReference",
								"parameters": {
									"jsonPath": "@pipeline().parameters.RawJSONStore"
								}
							}
						]
					}
				],
				"parameters": {
					"localdir": {
						"type": "string",
						"defaultValue": "E:\\Data\\PS\\HandHistory\\Bulk\\2019-06-19\\JSON"
					},
					"RawJSONStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Raw\\20190619"
					},
					"TargetADLSStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Struct\\Text\\20190619"
					}
				},
				"variables": {
					"boblpath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LocalSrc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataFromLocalToADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Local_to_Blobs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@{pipeline().parameters.localdir}",
										"type": "Expression"
									},
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "LocalSrc",
								"type": "DatasetReference",
								"parameters": {
									"localPath": "@pipeline().parameters.localdir"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "JSONStore",
								"type": "DatasetReference",
								"parameters": {
									"jsonPath": "@pipeline().parameters.RawJSONStore"
								}
							}
						]
					},
					{
						"name": "Copy_JSON_to_ADLSStruct",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Local_to_Blobs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"ordinal": 1
										}
									},
									{
										"source": {
											"path": "$['timestamp']"
										},
										"sink": {
											"ordinal": 2
										}
									},
									{
										"source": {
											"path": "$['sitename']"
										},
										"sink": {
											"ordinal": 3
										}
									},
									{
										"source": {
											"path": "$['tablename']"
										},
										"sink": {
											"ordinal": 4
										}
									},
									{
										"source": {
											"path": "$['limits']"
										},
										"sink": {
											"ordinal": 5
										}
									},
									{
										"source": {
											"path": "$['buttonseat']"
										},
										"sink": {
											"ordinal": 6
										}
									},
									{
										"source": {
											"path": "[['GameActionId']"
										},
										"sink": {
											"ordinal": 7
										}
									},
									{
										"source": {
											"path": "[['streetname']"
										},
										"sink": {
											"ordinal": 8
										}
									},
									{
										"source": {
											"path": "[['action']"
										},
										"sink": {
											"ordinal": 9
										}
									},
									{
										"source": {
											"path": "[['actor']"
										},
										"sink": {
											"ordinal": 10
										}
									},
									{
										"source": {
											"path": "[['amount']"
										},
										"sink": {
											"ordinal": 11
										}
									}
								],
								"collectionReference": "$['actions']"
							}
						},
						"inputs": [
							{
								"referenceName": "JSONStore",
								"type": "DatasetReference",
								"parameters": {
									"jsonPath": "@pipeline().parameters.RawJSONStore"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetStore",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"localdir": {
						"type": "string",
						"defaultValue": "E:\\Data\\PS\\HandHistory\\Bulk\\2019-06-19\\JSON"
					},
					"RawJSONStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Raw\\20190619"
					},
					"TargetADLSStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Struct\\Text\\20190619"
					}
				},
				"variables": {
					"boblpath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LocalSrc')]",
				"[concat(variables('factoryId'), '/datasets/ParquetStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LocalSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"localPath": {
						"type": "string",
						"defaultValue": "@pipeline().parameters.localdir"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": {
							"value": "@dataset().localPath",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSData",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"parquetPath": {
						"type": "string",
						"defaultValue": "@pipeline().parameters.TargetADLSStore"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().parquetPath",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "GameActionId",
						"type": "INT32"
					},
					{
						"name": "streetname",
						"type": "UTF8"
					},
					{
						"name": "action",
						"type": "UTF8"
					},
					{
						"name": "actor",
						"type": "UTF8"
					},
					{
						"name": "amount",
						"type": "DECIMAL",
						"precision": 38,
						"scale": 18
					},
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "timestamp",
						"type": "UTF8"
					},
					{
						"name": "sitename",
						"type": "UTF8"
					},
					{
						"name": "tablename",
						"type": "UTF8"
					},
					{
						"name": "limits",
						"type": "UTF8"
					},
					{
						"name": "butttonseat",
						"type": "INT64"
					}
				]
			},
			"dependsOn": []
		}
	]
}