akpshhfactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "akpshhfactory"
		},
		"integrationRuntime_akdev01": {
			"type": "string",
			"metadata": "Integration runtime name",
			"defaultValue": "akdev01"
		},
		"integrationRuntime_integrationRuntime2": {
			"type": "string",
			"metadata": "Integration runtime name",
			"defaultValue": "integrationRuntime2"
		},
		"integrationRuntime_integrationRuntime3": {
			"type": "string",
			"metadata": "Integration runtime name",
			"defaultValue": "integrationRuntime3"
		},
		"ADLSData_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLSData'"
		},
		"BlobSrc_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobSrc'"
		},
		"SQLDW_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLDW'"
		},
		"FileServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'FileServer1'"
		},
		"ADLSData_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://akpshhdatalake.dfs.core.windows.net"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://google.com"
		},
		"EventTrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/1be2307a-3f38-4358-9243-da34bdd7eb2d/resourceGroups/ak-PSHandHistory/providers/Microsoft.Storage/storageAccounts/akpshharchive"
		},
		"trigger1_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/1be2307a-3f38-4358-9243-da34bdd7eb2d/resourceGroups/ak-PSHandHistory/providers/Microsoft.Storage/storageAccounts/akpshharchive"
		},
		"FileServer1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\akdev01_admin"
		},
		"FileServer1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "akdev01_admin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ADLSData')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLSData_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLSData_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobSrc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobSrc_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('SQLDW_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EventTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/pshharchive/blobs/",
					"blobPathEndsWith": "Flags/test.rdy",
					"scope": "[parameters('EventTrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/pshharchive/blobs/",
					"blobPathEndsWith": "Flags/test.rdy",
					"scope": "[parameters('trigger1_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/', parameters('integrationRuntime_akdev01'))]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/', parameters('integrationRuntime_integrationRuntime2'))]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/', parameters('integrationRuntime_integrationRuntime3'))]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DebugTarget')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSData",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Data/Test/Debug",
						"fileSystem": "gamedata"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JSONStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSData",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"jsonPath": {
						"type": "string",
						"defaultValue": "@pipeline().parameters.RawJSONStore"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().jsonPath",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"timestamp": {
							"type": "string"
						},
						"sitename": {
							"type": "string"
						},
						"tablename": {
							"type": "string"
						},
						"limits": {
							"type": "string"
						},
						"buttonseat": {
							"type": "integer"
						},
						"seats": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"playername": {
										"type": "string"
									},
									"seatno": {
										"type": "integer"
									},
									"position": {
										"type": "null"
									}
								}
							}
						},
						"actions": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"GameActionId": {
										"type": "integer"
									},
									"streetname": {
										"type": "string"
									},
									"action": {
										"type": "string"
									},
									"actor": {
										"type": "string"
									},
									"amount": {
										"type": "number"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSData",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"parquetPath": {
						"type": "string",
						"defaultValue": "@pipeline().parameters.TargetADLSStore"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().parquetPath",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RdyFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSData",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "*.rdy",
						"folderPath": "Processing/Flags",
						"fileSystem": "gamedata"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDW_Sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "id",
						"type": "varchar"
					},
					{
						"name": "timestamp",
						"type": "varchar"
					},
					{
						"name": "sitename",
						"type": "varchar"
					},
					{
						"name": "tablename",
						"type": "varchar"
					},
					{
						"name": "limits",
						"type": "varchar"
					},
					{
						"name": "buttonseat",
						"type": "int",
						"precision": 10
					},
					{
						"name": "gameactionid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "streetname",
						"type": "varchar"
					},
					{
						"name": "action",
						"type": "varchar"
					},
					{
						"name": "actor",
						"type": "varchar"
					},
					{
						"name": "amount",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "HH_Stage"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TextStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSData",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"textPath": {
						"type": "string",
						"defaultValue": "@pipeline().parameters.TargetADLSStore"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().textPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('FileServer1_properties_typeProperties_host')]",
					"userId": "[parameters('FileServer1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FileServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "[parameters('integrationRuntime_integrationRuntime3')]",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/', parameters('integrationRuntime_integrationRuntime3'))]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LocalSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy JSON to Text - split')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_JSON_to_ADLSStruct",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['GameActionId']"
										},
										"sink": {
											"name": "GameActionId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['streetname']"
										},
										"sink": {
											"name": "streetname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['action']"
										},
										"sink": {
											"name": "action",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['actor']"
										},
										"sink": {
											"name": "actor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['amount']"
										},
										"sink": {
											"name": "amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['timestamp']"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['sitename']"
										},
										"sink": {
											"name": "sitename",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['tablename']"
										},
										"sink": {
											"name": "tablename",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['limits']"
										},
										"sink": {
											"name": "limits",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['buttonseat']"
										},
										"sink": {
											"name": "butttonseat",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['actions']"
							}
						},
						"inputs": [
							{
								"referenceName": "JSONStore",
								"type": "DatasetReference",
								"parameters": {
									"jsonPath": "@pipeline().parameters.RawJSONStore"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "TextStore",
								"type": "DatasetReference",
								"parameters": {
									"textPath": "@pipeline().parameters.TargetADLSStore"
								}
							}
						]
					}
				],
				"parameters": {
					"RawJSONStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Raw\\20190619"
					},
					"TargetADLSStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Struct\\20190619\\Text2"
					}
				},
				"variables": {
					"boblpath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/JSONStore')]",
				"[concat(variables('factoryId'), '/datasets/TextStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy JSON to Text - merge')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_JSON_to_ADLSStruct",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['GameActionId']"
										},
										"sink": {
											"name": "GameActionId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['streetname']"
										},
										"sink": {
											"name": "streetname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['action']"
										},
										"sink": {
											"name": "action",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['actor']"
										},
										"sink": {
											"name": "actor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['amount']"
										},
										"sink": {
											"name": "amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['timestamp']"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['sitename']"
										},
										"sink": {
											"name": "sitename",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['tablename']"
										},
										"sink": {
											"name": "tablename",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['limits']"
										},
										"sink": {
											"name": "limits",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['buttonseat']"
										},
										"sink": {
											"name": "butttonseat",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['actions']"
							}
						},
						"inputs": [
							{
								"referenceName": "JSONStore",
								"type": "DatasetReference",
								"parameters": {
									"jsonPath": "@pipeline().parameters.RawJSONStore"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "TextStore",
								"type": "DatasetReference",
								"parameters": {
									"textPath": "@pipeline().parameters.TargetADLSStore"
								}
							}
						]
					}
				],
				"parameters": {
					"RawJSONStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Raw\\20190619"
					},
					"TargetADLSStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Struct\\20190619\\Text"
					}
				},
				"variables": {
					"boblpath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/JSONStore')]",
				"[concat(variables('factoryId'), '/datasets/TextStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataFromLocalToADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Local_to_Blobs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@{pipeline().parameters.localdir}",
										"type": "Expression"
									},
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"quoteAllText": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "LocalSrc",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "JSONStore",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_JSON_to_ADLSStruct",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_Local_to_Blobs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"ordinal": 1
										}
									},
									{
										"source": {
											"path": "$['timestamp']"
										},
										"sink": {
											"ordinal": 2
										}
									},
									{
										"source": {
											"path": "$['sitename']"
										},
										"sink": {
											"ordinal": 3
										}
									},
									{
										"source": {
											"path": "$['tablename']"
										},
										"sink": {
											"ordinal": 4
										}
									},
									{
										"source": {
											"path": "$['limits']"
										},
										"sink": {
											"ordinal": 5
										}
									},
									{
										"source": {
											"path": "$['buttonseat']"
										},
										"sink": {
											"ordinal": 6
										}
									},
									{
										"source": {
											"path": "[['GameActionId']"
										},
										"sink": {
											"ordinal": 7
										}
									},
									{
										"source": {
											"path": "[['streetname']"
										},
										"sink": {
											"ordinal": 8
										}
									},
									{
										"source": {
											"path": "[['action']"
										},
										"sink": {
											"ordinal": 9
										}
									},
									{
										"source": {
											"path": "[['actor']"
										},
										"sink": {
											"ordinal": 10
										}
									},
									{
										"source": {
											"path": "[['amount']"
										},
										"sink": {
											"ordinal": 11
										}
									}
								],
								"collectionReference": "$['actions']"
							}
						},
						"inputs": [
							{
								"referenceName": "JSONStore",
								"type": "DatasetReference",
								"parameters": {
									"jsonPath": "@pipeline().parameters.RawJSONStore"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetStore",
								"type": "DatasetReference",
								"parameters": {
									"parquetPath": "@pipeline().parameters.TargetADLSStore"
								}
							}
						]
					}
				],
				"parameters": {
					"localdir": {
						"type": "string",
						"defaultValue": "blah"
					},
					"RawJSONStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Raw\\20190619"
					},
					"TargetADLSStore": {
						"type": "string",
						"defaultValue": "gamedata\\Data\\Struct\\Text\\20190619"
					}
				},
				"variables": {
					"boblpath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LocalSrc')]",
				"[concat(variables('factoryId'), '/datasets/JSONStore')]",
				"[concat(variables('factoryId'), '/datasets/ParquetStore')]"
			]
		}
	]
}